*{
    padding: 0px;
    margin: 0px;
}

.container{
    width: 90%;
    margin: auto;
}

header{
    background-color: rgb(223, 138, 58);
    color: #fff;
    height: 50px;
}

.header.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
}

.nav-menu li {
    display: inline;
    padding: 15px;
}

.nav-menu li a{ 
    text-decoration: none;
    color: #fff;
}

.logoname h4 {
    font-size: 21px;
}

.food-list-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.food-item{
    width: 21%;
    margin-bottom: 20px;
    padding: 18px;
    border: 1px solid #c0b1b1b9;
    margin-right: 10px;
}

.food-item img {
    width: 100%;
}

.food-item h3 {
    color: #e7901f;
    font-size: 20px;
    margin-bottom: 15px;
}

.food-item p {
    color: #5c5555b9;
    margin-bottom: 10px;
}

.item-info{
    display: flex;
    justify-content: space-between;
}

.item-info .rate{
    padding: 3px 10px;
    background-color: #e7901f;
    color: #fff;
}

.item-info .price{
    color: grey;
}

#foodlist-container{
    margin-top: 25px;
}

.row-title{
    margin: 25px 0px;
}

.row-title h2{
    color: brown;
    font-size: 30px;
    display: inline;
}

input#searchKey {
    padding: 5px 10px;
    border: 1px solid rgba(156, 148, 148, 0.904);
    margin-left: 5px;
}

.row-title label{
    float: right;
}

.food-item:hover{
    cursor: pointer;
}

footer{
    height: 30px;
    background-color: #df8a3a;
    color: #fff;
    text-align: center;
    align-items: center;
}

footer p{
    padding-top: 10px;
}